@-webkit-keyframes msgopen {
    0% {
        right: -10rem;
    }
}

@keyframes msgopen {
    0% {
        right: -10rem;
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

body {
    min-width: 1024px;
    min-height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    background:darkgray;
}

pre {
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.textwhite {
    color: white;
}

.top-bar {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.top-bar>div {
    margin: 1rem 3rem
}

#maincanvas {
    border: 2px solid rgb(37, 228, 79);
    /* top:12rem; */
    position: absolute;
    pointer-events: none;
    background: url("../img/portal.png") no-repeat right bottom
}

.hide {
    display: none !important;
}

.modal {
    top: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #d2d2d2;
    border: solid 2px rgb(55, 125, 255);
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6rem 0.5rem rgba(55, 125, 255, 0.603);
    box-shadow: 0 0 6rem 0.5rem rgba(55, 125, 255, 0.603);
}

.flex.msg {
    padding: 1rem 3rem;
    border-color: rgb(101, 235, 101);
    -webkit-box-shadow: 0 0 2rem 0.5rem rgba(101, 235, 101, 0.603);
    box-shadow: 0 0 2rem 0.5rem rgba(101, 235, 101, 0.603);
}

.massage {
    -webkit-animation: msgopen 1s;
    animation: msgopen 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    position: absolute;
    overflow: auto;
    word-wrap: normal;
    top: 8rem;
    width: 10rem;
    height: 10rem;
    right: 0;
    /* transform: translate(-100%, 0); */
}

.hide:hover {
    display:block
}

.menu {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.5);
    width: 30rem;
    height: 40rem;
}

.confirm {
    background: rgba(0, 0, 0, 0.5);
}

.title {
    margin: 1rem 3rem;
}

.box {
    border: solid 1px;
    border-radius: 1rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 15rem;
    min-height: 8rem;
    margin: 1rem 3rem;
}

.btn {
    display: inline-block;
    outline: none;
    font-size: 1.2rem;
    margin: 1rem 3rem;
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: rgba(66, 141, 206, 0.95);
    border: 2px solid rgba(255, 255, 255, 0.568);
    border-radius: 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.64) 0px 0px 3rem 0.2rem inset;
    box-shadow: rgba(0, 0, 0, 0.64) 0px 0px 3rem 0.2rem inset;
    color: white;
}

.btn.small {
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
}

.btn:hover {
    background: rgba(9, 128, 39, 0.95);
    border: 2px solid white;
    -webkit-box-shadow: rgba(101, 235, 101, 0.993) 0px 0px 3rem 0.1rem inset;
    box-shadow: rgba(101, 235, 101, 0.993) 0px 0px 3rem 0.1rem inset;
}

.btn.btn-warning {
    background: rgba(224, 146, 29, 0.95);
    -webkit-box-shadow: rgba(158, 51, 9, 0.89) 0px 0px 4rem 0.2rem inset;
    box-shadow: rgba(158, 51, 9, 0.89) 0px 0px 4rem 0.2rem inset;
}

.btn.btn-warning:hover {
    background: rgba(248, 46, 46, 0.95);
    -webkit-box-shadow: rgba(117, 8, 8, 0.9) 0px 0px 3rem 1rem inset;
    box-shadow: rgba(117, 8, 8, 0.9) 0px 0px 3rem 1rem inset;
}

.mask {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: #03a9f4;
}

.loading {
    margin: -65px;
    position: absolute;
    width: 130px;
    height: 130px;
    background: #03a9f4;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    -webkit-animation: loading 3s infinite linear;
    animation: loading 3s infinite linear
}

.circl {
    width: 120px;
    height: 120px;
    margin: 5px;
    background: #03a9f4;
    border-radius: 50%;
}

.circl::before {
    position: absolute;
    width: 65px;
    height: 130px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #65eb65), to(#ffffff00));
    background: linear-gradient(#65eb65 8%, #ffffff00);
    content: "";
    margin: -5px;
    z-index: -1;
}

.circl::after {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #65eb65;
    content: "";
    right: 0;
    top: 0;
    z-index: -1;
}

.mask p:nth-child(2) {
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.mask span {
    color: #ffffff;
    line-height: 2rem
}